body{
    background-color: rgb(226, 205, 233);
	font-family: sans-serif;
}

header{
    font-size: x-large;
    color: blueviolet;
    font-style: normal;
    text-align: center;
    padding: 20px;
}
header img{
    width: 400px;
}
main{
    background-color: blueviolet;
    width: 600px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
}
li{
    padding-left: 10px;
    border-left: 5px solid rgb(247, 209, 85);
    margin: 10px 0px;
    color: yellow;
    list-style: none;  
}
a{
    color: black;
    margin: 2px;
    background-color: rgb(224, 216, 127);
}
a:hover,
a:active{ 
background-color: rgb(255,186,58);
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: center;
}
footer p {
    color: rgb(131,113,149);
    margin-top: 30px;
}
footer a{
    padding: 12px 18px;
    border-radius: 8px;
    background-color: rgb(258,201,39);
    color: rgb(66,51,4);
}
.highlight{
   font-weight: bold ;
}
.subhead{
    color: antiquewhite;
   margin: 0 p 0;
    font-family: sans-serif;
}
